::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: radial-gradient(#11a9af, #1c1c1c);
    border-radius: 25px;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: bold;
    background-color: #f0f8ff;
}

/* loader */
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.load-place {
    background: #ccc;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 8px solid #11a9af;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    animation: school infinite linear 1.8s;
}

.load-place+img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}

@keyframes school {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 20px;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header:hover {
    background-color: #34495e;
}

.logo-school img {
    height: 50px;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.logo-school img:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header>ul li {
    position: relative;
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header>ul li::after, header>ul li.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #1abc9c;
    transition: width 0.3s ease;
}

header>ul li.active::after {
    width: 100%;
    background-color: #1abc9c;
    transition: width 0.3s ease;
}

header>ul li:hover::after {
    width: 100%;
}

header>ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

header>ul li.active a,
header>ul li:hover a {
    color: #1abc9c;
    transform: translateY(-5px);
    text-decoration: none;
}

header>ul li:nth-child(1) a {
    animation-delay: 0.1s;
}

header>ul li:nth-child(2) a {
    animation-delay: 0.2s;
}

header>ul li:nth-child(3) a {
    animation-delay: 0.3s;
}

header>ul li:nth-child(4) a {
    animation-delay: 0.4s;
}

header>ul li:nth-child(5) a {
    animation-delay: 0.5s;
}

header>ul li:nth-child(6) a {
    animation-delay: 0.6s;
}

header>ul li:nth-child(7) a {
    animation-delay: 0.7s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn-open-menu {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
    position: relative;
}

@media (max-width: 1250px) {
    header ul {
        display: none;
    }

    .btn-open-menu {
        display: block;
    }
}

/* menu */
.close-btn {
    font-size: 30px;
    cursor: pointer;
}

.menu {
    position: fixed;
    right: -290px;
    top: 0;
    height: 100vh;
    width: 290px;
    background-color: #212f3c;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    overflow-y: scroll;
}

#menu.open {
    right: 0;
}

#menu.d-none+.overlay {
    display: none;
}

#menu+.overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: hsl(0deg 0% 0% / 70%);
    z-index: 99;
    top: 0;
}

.menu.active {
    right: 0;
    opacity: 1;
}

.menu-header {
    text-align: center;
}

.menu-header img {
    width: 115px;
    margin-bottom: 10px;
    border-radius: 15px;
}

span.innovation {
    text-align: right;
    letter-spacing: 1.6px;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 30px;
}

.menu ul li a {
    display: flex;
    padding: 12px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.menu ul li a:hover {
    background-color: #1abc9c;
    color: #000;
    transform: translateX(-5px);
}

#active {
    background-color: #1abc9c;
    color: #000;
}

/* contact */
.contact-section {
    margin-top: 100px;
}

.contact-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1abc9c;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.fields>.field {
    margin-bottom: 0px;
}

.fields>.field {
    position: relative;
    margin-bottom: 20px;
    width: fit-content;
}

.fields>.field input, select {
    width: 1100px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
    transition: border-color 0.3s;
}

.fields>.field label {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    padding: 0 5px;
    color: #000;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
    text-align: center;
    font-weight: bold;
}

.fields>.field select:not(:placeholder-shown)+label,
.fields>.field input:not(:placeholder-shown)+label,
.fields>.field textarea:focus+label,
.fields>.field textarea:not(:placeholder-shown)+label,
.fields>.field input:focus+label {
    top: -2px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
}
textarea {
    border: 2px solid #000;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 1100px;
    padding: 10px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.submit {
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 35%;
}

.submit:hover {
    background-color: #16a085;
}

.reset {
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 35%;
}

.reset:hover {
    background-color: #b50202;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 25px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
}

#contanier-whatsapp {
    background-color: #ccc;
    padding: 35px 35px;
    border-radius: 20px;
}

#contanier-facebook {
    background-color: #ccc;
    padding: 35px 35px;
    border-radius: 19px
}

.social-links a {
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f0f0f0;
    color: #555;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.social-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.information span {
    color: #000;
}

.social-links .facebook {
    background-color: #3b5998;
    color: #fff;
}

.social-links .facebook:hover {
    background-color: #2d4373;
}

.social-links .whatsapp {
    background-color: #25D366;
    color: #fff;
}

.social-links .whatsapp:hover {
    background-color: #128c7e;
}

@media(max-width: 430px) {
    #contanier-whatsapp {
        width: 310px;
    }

    #contanier-facebook {
        width: 310px;
    }

    .submit, .reset {
        width: 75% !important;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .fields>.field input, select, textarea {
        width: 300px;
    }

}

@media(max-width: 390px) {
    #contanier-whatsapp {
        width: 300px;
    }

    #contanier-facebook {
        width: 300px;
    }

    .submit, .reset {
        width: 84% !important;
    }

    .fields>.field input, select, textarea {
        width: 300px;
    }
}

@media(max-width: 375px) {
    .submit, .reset {
        width: 87% !important;
    }
}